/* @media */
/* General Selectors for all pages */
body{
    width: 100%;
    margin: 0;
    font-family: monocraft;
}

#navbar{
    border-top: 2px solid red;
	background-color: #dddddd;
	padding: 10px;
    display: flex;
    justify-content: center;
}

#navbar a{
    flex: 1;
    margin: 50px;
}

a {
    text-decoration: none;
    color: darkslategray;
}

a:hover {
    text-decoration: underline;
}

#current_page{
    color: red;
}

#portrait{
    border-radius: 150px;
}

#container{
    display: flex;
}

#my_info{
    margin-left: 10%;
}

#my_info h1{
    text-align: center;
}

#my_info h2{
    text-align: center;
}

#page_info{
    margin-left: 5%;
    padding-left: 3%;
    width: 50%;
    border-left: 1px solid #252525;
}

#page_info h1{
    margin-bottom: 5%;
}

#page_info table{
    display: flex;
    flex-direction: column;
}

.table{
    width: 100%;
    display: table !important;
}

#education td{
    padding-top: 10px;
}

.credential {
    font-size: larger;
}

.times {
    text-align: right;
}

.expertise{
    width: 60%;
}

@media screen and (max-width: 800px) {
    body {
      background-color: blue;
    }
  }
